<div id="create-account">
    <h1>Login</h1>
    <p>Doesn't have an account?<a href="/users/signUp">Create an account now</a></p>
</div>

<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="username" placeholder="Password">
    <button>Sign In</button>
</form>

<h3><a href="/users/forgot-password">Forgot your password</a></h3>